<section class="beer-section">
    <div>
        <img class="beer-section-img" src="/images/beer.png" alt="">
    </div>
    <div class="beer-section-links">
        <li class="beer-section-links-a"><a class="beer-section-links-fix" href="/beers">Check the Beers!</a></li>
        <li class="beer-section-links-b"><a class="beer-section-links-fix" href="/random-beer">Check a Random
                Beer!</a></li>
    </div>
</section>